footer {
    margin-top: 100px;
    margin-left: 440px;
    width: 700px;
    font-size: 13px;
    color: var(--gray);
}

.footer_logos {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 28px;
    overflow: hidden;
    margin-bottom: 16px;
}

.footer_logos > img:nth-child(1) {
    height: 28px;
}

.footer_logos > img:nth-child(2) {
    height: 25px;
    margin-left: 16px;
}

.footer_logos > img:nth-child(3) {
    height: 30px;
    margin-left: 16px;
}

.footer_logos > img:nth-child(4) {
    height: 54px;
}

.footer_link {
    display: grid;
    height: 70px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 24px;
}

.footer_info {
    font-size: 11px;
    margin-bottom: 8px;
}