:root {
    --white: rgba(255, 255, 255, 1.0);
    --black: rgba(0, 0, 0, 1.0);
    --gray: rgba(128, 128, 128, 1.0);
    --trans-gray: rgba(128, 128, 128, 0.6);
    --standard-border-radius: 5%;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: var(--black);
    margin-top: 0px;
}

a {
  text-decoration: none;
}

a:focus-visible {
    outline: 2px solid var(--white);
    outline-offset: -1px;
}

.flex_container {
    width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}