section {
    width: 1400px;
    overflow: hidden;    
    margin-left: 40px;
    margin-top: 24px;
}

.contents_option {
    color: var(--white);
    font-size: 20px;
}


/*회원 추천 컨텐츠 스타일 */
.contents_for_user_img_flex {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.contents_for_user_img {
    width: 220px;
    height: auto;
    border-radius: var(--standard-border-radius);
}

.contents_for_user_img:hover {
    transform: scale(1.4);
}

/* top10 시리즈 스타일 */
.carousel-container {
    position: relative; /* 화살표 위치의 기준점 */
    width: 1400px;
    overflow: hidden;
    margin-top: 8px;
}

.top10_contents_img_flex {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    gap: 8px;
    margin-top: 8px;
    position: relative;
    left: 0;
}

.top10_contents_img_inner_flex {
    display: flex;
    align-items: center;
    height: 180px;
    overflow: hidden;   
    border-radius: var(--standard-border-radius);
    transition: transform 0.3s ease;
    flex-shrink: 0;
} 

.top10_contents_img_inner_flex:hover {
    transform: scale(1.4);
    z-index: 2;
}

.rank_font {
    padding-left: 8px;
    font-size: 150px;
    color: var(--gray);
    font-style: italic;
    flex-shrink: 0;
}

.font_cutting {
    width: 84.25px;
    overflow: hidden;
    display: flex; 
    justify-content: center;
    margin-left: 7px;
}

.top10_contents_img {
    width: 128.75px; /* 카드 가로길이 220px 고정 */
    height: auto;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(20, 20, 20, 0.6);
    color: white;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    z-index: 5;
    padding: 0 10px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carousel-container:hover .arrow-btn {
    opacity: 1;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

/* 새로 올라온 컨텐츠 스타일 */
.new_contents_img_flex {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    gap: 8px;
    margin-top: 8px;
}

.new_contents_img {
    width: 220px;
    height: auto;
    border-radius: var(--standard-border-radius);
}

.new_contents_img:hover {
    transform: scale(1.4);
}