<div class="movie-grid">
  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=1"
      alt="영화 제목 1"
    />
    <h3 class="movie-grid__title">영화 제목 1</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=2"
      alt="영화 제목 2"
    />
    <h3 class="movie-grid__title">영화 제목 2</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=3"
      alt="영화 제목 3"
    />
    <h3 class="movie-grid__title">영화 제목 3</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=4"
      alt="영화 제목 4"
    />
    <h3 class="movie-grid__title">영화 제목 4</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=5"
      alt="영화 제목 5"
    />
    <h3 class="movie-grid__title">영화 제목 5</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=6"
      alt="영화 제목 6"
    />
    <h3 class="movie-grid__title">영화 제목 6</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=7"
      alt="영화 제목 7"
    />
    <h3 class="movie-grid__title">영화 제목 7</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=8"
      alt="영화 제목 8"
    />
    <h3 class="movie-grid__title">영화 제목 8</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=9"
      alt="영화 제목 9"
    />
    <h3 class="movie-grid__title">영화 제목 9</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=10"
      alt="영화 제목 10"
    />
    <h3 class="movie-grid__title">영화 제목 10</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=11"
      alt="영화 제목 11"
    />
    <h3 class="movie-grid__title">영화 제목 11</h3>
  </div>

  <div class="movie-grid__item">
    <img
      class="movie-grid__image"
      src="https://picsum.photos/300/400?random=12"
      alt="영화 제목 12"
    />
    <h3 class="movie-grid__title">영화 제목 12</h3>
  </div>
</div>
