body {
    background-color: black;
}

.grid_container {
    width: 1440px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 42px repeat(4, auto) 1fr;
    gap: 10px;
    grid-template-areas: 
    "header"
    "hero"
    "section1"
    "section2"
    "section3"
    "footer";
}


/* header 스타일 */
.flex_header {
    display: flex;
    align-items: center;
    grid-area: header;
}

.logo {
    height: 100px;
    width: auto;
    padding-left: 20px;
    padding-right: 10px;
}

.button_header {
    background-color: black;
    border: none;
    font-size: 13px; 
    color: white; 
    margin-left: 5px;
}

.magnifier {
    height: 23px;
    width: auto;
    margin-left: 700px;
}

.bell {
    height: 22px;
    width: auto;
    margin-left: 13px;
}

.basic_profile{
    height: 26px;
    width: auto;
    margin-left: 11px;
}

.triangle {
    height: 8px;
    width: auto;
    margin-left: 10px
}


/* hero 스타일 */
.hero {
    grid-area: hero;
    position: relative;
    width: 1440px;
    height: auto;
}

.overlay_image {
    width: 100%;
    height: auto;
    display: block;
}

.overlay_upper {
    position: absolute;
    top: 20%;
    left: 40px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.overlay_1st_row {
    width: 500px;
    height: auto;
    display: block;
}

.overlay_2nd_row {
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
}

.overlay_2nd_row .top10_logo {
    height: 30px;
    width: auto;
}

.overlay_2nd_row .rank {
    font-size: 22px;
    color: white;
    margin-left: 8px;
}

.overlay_3rd_row {
    width: 500px;
    height: auto;
    font-size: 18px;
    color: white;
}

.overlay_4th_row {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 5px;
}

.overlay_4th_row .overlay_4th_left {
    display: flex;
    align-items: center;
}

.overlay_4th_row .overlay_4th_right {
    display: flex;
    align-items: center;
}

.button_with_play {
    border: none;
    background-color: white;
    font-size: 20px;
    padding: 6px 24px;
    display: flex;
    align-items: center;
}

.play_sign {
    height: 28px;
    width: auto;
}

.button_with_info {
    border: none;
    background-color: rgba(128, 128, 128, 0.6);
    font-size: 20px;
    padding: 4px 18px;
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.info_sign {
    height: 34px;
    width: auto;
}

.info_font {
    color: white;
    padding-right: 4px;
    margin-left: 5px;
}

.sound_sign {
    height: 35px;
    width: auto;
}

.age_limit {
    color: white;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.6);
    border-left: 3.5px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 80px;
    margin-left: 20px;
}


/* 회원 추천 컨텐츠 스타일 */
.contents {
    margin-left: 40px;    
}

nav {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}

#contents_for_user {
    grid-area: section1;
}

.contents_for_user_img_flex {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    gap: 5px;
    margin-bottom: 25px;
}

.contents_for_user_img {
    width: 220px;
    height: auto;
}


/* top10 시리즈 스타일 */
#top10_contents {
    grid-area: section2;
}

.top10_contents_img_flex {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    gap: 5px;
    margin-bottom: 25px;
}

.top10_contents_img_inner_flex {
    display: flex;
    align-items: center;
} 

.rank_font {
    padding-left: 10px;
    font-size: 150px;
    color: gray;
    font-style: italic;
    padding-right: 0px;
    margin-right: 0px;
}

.top10_contents_img {
    width: 126.75px;
    height: auto;
}
