html {
    background-color: black;
    color: whitesmoke;
}

body{
    position: relative;
    margin: 0;
}

header {
    height : 70px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    background-color: black;    
    transition: background-color 0.3s ease-in-out;
    margin-top: 0;
}

header.is-scrolling {
    background-color: transparent;
}

header nav {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
}

#profile {
    width : 50px;
}

#arrow {
    width: 12px !important;
    height: 12px !important;
    margin-bottom: 10px;
    transition: transform 0.4s ease-in-out;
}


#face:hover ~ #arrow {
    transform: rotate(180deg);
}

#face:hover ~ #profiles, #alram:hover ~ #notice{
    display: block;
}

#arrow:hover {
    transform: rotate(180deg);
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding : 0
}

header nav ul li {
    margin : auto 5px;
    position: relative;
}

header #right ul img:hover {
    scale : 1.1;
}


nav a{
    text-decoration: none;
    color:inherit
}

#left li:hover {
    scale : 1.05;
}

#notice, #profiles {
    position: absolute;
    width : 400px;
    right: 10px;
    top: 50px;
    display: none;
}

#notice ul, #profiles ul{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.763);
    width: 100%;
    box-shadow: 0 -3px rgba(255, 255, 255, 0.5);
    border: 0.5px solid rgba(255, 255, 255, 0.3) ;
}

#profile li {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.profile-img {
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    margin-right: 16px;
}

#notice li p {
    text-align: center;
}

#listop {
    width: 15px ;
    height: 15px ;
    position: absolute;
    right: 0px;
    rotate: 180deg;
    top: -13px;
    opacity: 0.5;
}

#listop {
    width: 15px ;
    height: 15px ;
    position: absolute;
    right: 0px;
    rotate: 180deg;
    top: -13px;
    opacity: 0.5;
}


main {
    margin-top: -80px;
}

#mainlogo {
    color: red;
    font-size: 25px;
    margin-right: 32px;
}

#hero {
    height: 800px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    position: relative;
    background-image: url("https://img.vogue.co.kr/vogue/2025/09/style_68b4faadda9d5-1400x933.jpg");
    background-size: cover;
    z-index: 2;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 왼쪽에서 오른쪽으로, 그리고 아래에서 위로 어두워지는 그라데이션 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 50%, transparent 70%),
                linear-gradient(to top, rgba(0, 0, 0, 0.3) 50%, transparent 60%);
    z-index: -2;
}

#leftcontent {
    align-self: center;
    padding-left: 16px;
}

#rightcontent {
    position : absolute;
    top : 60%;
    right: 0px;
    background-color: rgba(63, 63, 63, 0.858);
    width: 100px;
    box-shadow: -3px 0 whitesmoke;
}

#rightcontent p {
    margin: 8px 8px 8px 16px;
}

#mid {
    position: relative;
    margin-top: -200px;
    z-index: 10;
}

#imgcontain {
    width: max-content;
}

#cut {
    position: absolute;   
    z-index: -1;
    object-fit: contain;
}

.category {
    display: flex;
    flex-direction: column;
    padding:16px;
    position: relative;
    scroll-behavior: smooth;
}

.slider {
    position: absolute;
    font-size: 50px;
    height: auto;
    display: flex;
    top: 33%;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 16px auto;
    z-index: 10;
    width: 60px;
    color: transparent;
    background-color: transparent;
    transform: translateY(44%);
}


.indicator {
    position: absolute;
    right: 15px;
    top: 40px;  
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 60px;
    margin: 0;
    color: rgba(255, 255, 255, 0.537);
}

.now-here {
    color:  rgba(255, 255, 255, 0.888);
}

.slider:hover {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.349);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


.scrollbox-wrapper {
    overflow: hidden;
    width: 100%;
}

.scrollbox{
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    list-style: none;
    padding : 0;
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
    transition: transform 0.5s ease-in-out;
    gap: 8px;
}



.scrollbox li {
    flex : 0 0 20%;
    aspect-ratio: 16/9;
    height: auto;
    min-width: 200px;
    background-color: rgb(103, 103, 103);
    box-sizing: border-box;
}

.scrollbox li p {
    margin: 0;
    padding-left: 10px;
    font-size: 10px;
}

.scrollbox li img {
    width: 100%;
    height: 100%;
    object-fit: cover;      /* 꽉 채우되 잘라냄 */
    display: block;
}

#rank li{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: right;
}

#rank li * {
    overflow: hidden;
    width: 50%;
}

#rank li .left-ranking span{
    font-size: 200px;
    line-height: 0.6;
    margin-left: 45px;
    color: transparent;                /* 안쪽 비우기 */
    -webkit-text-stroke: 2px #8a8a8a;     /* 외곽선만 표시 */
}

.left-ranking {
    background-color: black !important;
}

#rank li .right-poster {
    aspect-ratio: 9/16;
    background-color: rgb(107, 107, 107);
    display: block;
    position: relative;
}

#rank li .right-poster img {
    width: 100%;
}

.scrollbox li:hover {
    scale : 1.3;
    overflow: visible;
}

.scrollbox li:hover .like-container {
  visibility: visible;
}
button {
    height: 40px;
    font: inherit;
    padding : 0 16px;
    border-radius: 8px;
}

button:hover {
    scale: 1.1;
}

#detail {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

#right .icon {
    width: 30px;
    height: 30px;
}

.like-container {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
}