faq-accordion button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 84px;
  padding: 24px;
  color: #fff;
  background-color: rgb(45, 45, 45);
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color cubic-bezier(0.4, 0, 0.68, 0.06) 0.25s;
}

faq-accordion button:hover {
  background-color: rgb(65, 65, 65);
}

faq-accordion h3 {
  font-size: 24px;
  font-weight: 400;
}

faq-accordion p {
  word-break: keep-all;
}

faq-accordion .answer {
  padding: 24px;
  background-color: rgb(45, 45, 45);
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  display: none;
  transition: display cubic-bezier(0.32, 0.94, 0.6, 1) 0.32s;
  margin-top: 1px;
}

faq-accordion img {
  transition: transform cubic-bezier(0.32, 0.94, 0.6, 1) 0.32s;
}
