
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--space-5);
	position: fixed;
	background-color: var(--color-bg-header);
	top: 0;
	width: 100%;
	z-index: 1000;
}


.nav a {
	color: var(--color-text-dim);
	margin: 0 var(--space-5);
	text-decoration: none;
	font-size: var(--font-size-base);
	display: inline-block;
}


.logo-image {
	margin-left: var(--space-15);
	filter: brightness(150%);
}


.user-menu {
	display: flex;
	align-items: center;
	gap: 25px;
	margin-right: 40px;
}


.user-menu i {
	font-size: 18px;
	cursor: pointer;
	color: var(--color-text-dim);
}

.bell-icon {
	position: relative;
}