.hero {
    position: relative;
    width: 1440px;
    overflow: hidden;
}

.hero__background {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.hero__content {
    position: absolute;
    width: 100%;
    height: auto;
    top: 30%;
    left: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero__title-img {
    width: 500px;
    height: auto;
    display: block;
}

.hero__ranking {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero__ranking-badge {
    height: 30px;
    width: auto;
    border-radius: var(--standard-border-radius);
}

.hero__ranking-text {
    font-size: 22px;
    color: var(--white);
}

.hero__description {
    width: 470px;
    height: auto;
    font-size: 18px;
    color: var(--white);
    line-height: 1.5;
}

.hero__actions {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}

.hero__actions--button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero__actions--meta {
    display: flex;
    align-items: center;
    gap: 24px;
}

.button--play {
    border: none;
    border-radius: var(--standard-border-radius);
    background-color: var(--white);
    font-size: 20px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.button--play--img {
    height: 28px;
    width: auto;
}

.button--info {
    border: none;
    border-radius: var(--standard-border-radius);
    background-color: var(--trans-gray);
    font-size: 20px;
    padding: 8px 16px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.button--info--img {
    height: 30px;
    width: auto;
}

.button--info--text {
    color: var(--white);
}

.hero__sound-icon {
    height: 40px;
    width: auto;
}

.hero__age-rating {
    color: var(--white);
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.6);
    border-left: 3.5px solid var(--white);
    padding-top: 8px;
    padding-right: 80px;
    padding-bottom: 8px;
    padding-left: 8px;
}