*{
    color : white;
}

:root{
    --page-width:1440px;
    --page-margin:0 auto;

    --header-height:72px;
    
    --all-margin:8px;
    --all-padding:8px;
    
    --Menu-margin:16px;
    
    --Hero-margin:16px;    
    
    --Category-margin:16px;
}

.page > *{
    width: var(--page-width);
}

#Menu {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    position:sticky; 
    top:0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 10;
    
}

.MenuList{
    display: flex;
    flex-direction: row;
    
    margin: var(--Menu-margin);
    align-items: center;
    
}

.MenuList > * {
    margin: var(--all-margin);
}

#Hero {
    display: flex;
    flex-direction: column;
}

#Hero > *:not(#HeroBackground) {
    margin-left: var(--Hero-margin);
    margin-top: 0;
    margin-bottom: 0;
    padding: var(--all-padding);   
}

#HeroBackground{
    position: absolute;
    width: var(--page-width);
    height: auto;
    z-index: -1;
}

#HeroSubtitle > *{
    margin-left: var(--all-margin);
}

.Category > *:not(.MovieSlider){
    margin: var(--Category-margin);
    padding: var(--all-padding);
}

.MovieSlider{
    display: flex;
    position:relative;
    flex-direction: row;
}

.MovieSliderButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 5;
}

.MovieCard{
    aspect-ratio: 16/9;
    overflow: hidden;
    width: 300px;
    height: auto;
    margin: var(--all-margin);
}

.MovieCard:hover{
    transform: translateY(-10px) scale(1.10);
}


.menu_modal{
    position: relative;
    display: inline-block;
}

.modal{
    position: absolute;
    display: none;
    flex-direction: column;
    
    padding: var(--all-padding);
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
    top: 100%;
    right: 0;
    z-index: 100;
}

.modal_alarm{
    width: 400px;
}

.modal_profile{
    width: 180px;
}

.alarm_img{
    aspect-ratio: 16/9;
    overflow: hidden;
    width: 250px;
    height: auto;
}

.profile_img{
    overflow: hidden;
    width: 100px;
    height: 100px;
}

