:root{
  /* colors */
  --foreground: #ffffff;
  --background: #0f0f0f;
  --muted: #b5b5b5;
  --brand: #e50914;
  --overlay: rgba(0,0,0,0.45);

  /* spacing (8px scale) */
  --spacing-4: 4px; --spacing-8: 8px; --spacing-12: 12px; --spacing-16: 16px;
  --spacing-24: 24px; --spacing-32: 32px; --spacing-48: 48px; --spacing-64: 64px;

  /* radius & shadows */
  --radius: 12px;
  --shadow: 0 10px 24px rgba(0,0,0,0.35);

  /* typography */
  --fonts-sm: 14px; --fonts-base: 16px; --fonts-lg: 18px;
  --fonts-xl: 24px; --fonts-2xl: 32px; --fonts-3xl: 48px;

  /* layout */
  --page-w: 1440px;
  --header-h: 72px;

  /* card */
  --card-aspect: 2 / 3; /* or 16 / 9 */
}

.page { 
  width: 1440px; margin: 0 auto; 
  padding: 0 var(--spacing-32);
  /* background-color: var(--background); */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif, 'Helvetica Neue';
  font-size: var(--fonts-base);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background-color: var(--background);
  display: flex;
  height: var(--header-h);
  justify-content: space-between;
  padding: 0 var(--spacing-32);
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  gap: var(--spacing-32);
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: var(--spacing-32);
  align-items: center;
  align-content: center;
}

.navigation-right {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
}

.navigation-right .search-tab, .notification, .user {
  position: relative;
}

.user img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
}

button {
  background-color: var(--background);
  border: none;
  border-radius: var(--radius);
  color: var(--foreground);
  cursor: pointer;
  font-size: var(--fonts-base);
  padding: var(--spacing-8) var(--spacing-16);
  transition: background-color 0.3s ease;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

.logo img {
  height: 32px;
}