:root{
  /* colors */
  --foreground: #ffffff;
  --background: #0f0f0f;
  --muted: #b5b5b5;
  --brand: #e50914;
  --overlay: rgba(0,0,0,0.45);

  /* spacing (8px scale) */
  --spacing-4: 4px; --spacing-8: 8px; --spacing-12: 12px; --spacing-16: 16px;
  --spacing-24: 24px; --spacing-32: 32px; --spacing-48: 48px; --spacing-64: 64px;

  /* radius & shadows */
  --radius: 12px;
  --shadow: 0 10px 24px rgba(0,0,0,0.35);

  /* typography */
  --fonts-sm: 14px; --fonts-base: 16px; --fonts-lg: 18px;
  --fonts-xl: 24px; --fonts-2xl: 32px; --fonts-3xl: 48px;

  /* layout */
  --page-w: 1440px;
  --header-h: 72px;

  /* card */
  --card-aspect: 2 / 3; /* or 16 / 9 */
}


/* global 부분 분리 필요 */
.page { 
  width: 1440px; margin: 0 auto; 
  padding: 0 var(--spacing-32);
  /* background-color: var(--background); */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif, 'Helvetica Neue';
  font-size: var(--fonts-base);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--background);
  border: none;
  border-radius: var(--radius);
  color: var(--foreground);
  cursor: pointer;
  font-size: var(--fonts-base);
  padding: var(--spacing-8) var(--spacing-16);
  transition: background-color 0.3s ease;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

.logo img {
  align-items: center;
  height: 48px;
}

/* header part */
header {
  align-items: center;
  background-color: var(--background);
  display: flex;
  height: var(--header-h);
  justify-content: space-between;
  padding: 0;
  margin-left: var(--spacing-32);
  margin-right: var(--spacing-32);
  top: 0;
  width: calc(100% - var(--spacing-64));
  z-index: 1000;
}

nav {
  display: flex;
  gap: var(--spacing-32);
  justify-content: space-between;
  :hover {
    color: grey;
    transition: background-color 0.3s ease;
  }
}

nav ul {
  display: flex;
  gap: var(--spacing-32);
  align-items: center;
  align-content: center;
}

.navigation-right {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
}

.navigation-right .search-tab, .notification, .user {
  position: relative;
}

.user img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
}


/* main part */
main {
  display: block;
  margin-top: var(--spacing-32);
  margin-bottom: var(--spacing-32);
  /* padding: 0 var(--spacing-32); */
}

/* >>> hero part */
.hero {
  position: relative;
  align-items: center;
  margin-bottom: var(--spacing-32);
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 60%);
  z-index: 1;
}

.hero > img.hero-image {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  /* border-radius: var(--radius); */
  box-shadow: var(--shadow);
  /* margin-bottom: var(--spacing-32); */
  z-index: 0;
}

.hero p {
  margin-left: calc(var(--spacing-32));
}

.hero .play-button {
  position: static;
  display: block;
  align-self: left;
  size: 48px 200px;
  background-color: var(--brand);
  border: none;
  border-radius: var(--radius);
  color: var(--foreground);
  cursor: pointer;
  font-size: var(--fonts-lg);
  font-weight: bold;
  padding: var(--spacing-12) var(--spacing-24);
  margin-left: calc(var(--spacing-32) * 5);
  margin-bottom: var(--spacing-16);
  transition: background-color 0.3s ease;
}

.hero .play-button:hover {
  background-color: var(--overlay);
}

.hero-overlay {
  display: flex;
  position: absolute;
  width: calc(100% - var(--spacing-64) * 2);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-32);
  z-index: 2;
}

.hero-content-container {
  position: static;
  bottom: var(--spacing-64);
  color: var(--foreground);
}

.hero-logo {
  max-width: 60%; /* 로고 크기 제한 */
  margin-bottom: var(--spacing-16);
}

.hero-description {
  font-size: var(--fonts-lg);
  max-width: 60%;
  margin-bottom: var(--spacing-24);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.slider-hero{
  position: static;
  bottom: var(--spacing-32);
  width: 100%;
  height: auto;
}

.slider {
  margin-bottom: var(--spacing-32);
  padding: 0 var(--spacing-16);
  position: relative;
  overflow-x: hidden;
}

.slider-title {
  font-size: var(--fonts-xl);
  font-weight: bold;
  margin-bottom: var(--spacing-16);
  margin-top: 0;
}

.slider-container {
  display: flex;
  
  gap: var(--spacing-8);
  overflow-x: auto;
  padding-bottom: var(--spacing-8);
  scroll-behavior: smooth;

  /* 가로 스크롤 바 숨기기 */
  -ms-overflow-style: none;  /* IE 및 Edge */
  scrollbar-width: none;  /* Firefox */
}

.slider-container::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}

.slider-content {
  display: flex;
  gap: var(--spacing-8);
  overflow-x: auto;
  padding-bottom: var(--spacing-8);
  scroll-behavior: smooth;
  overflow-x: hidden;


}


.slider-item {
  display: grid;
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
  flex: 0 0 auto;
  padding: var(--spacing-4);
}

.top-10-rank-slider .slider-item {
  display: grid;
  width: 235px;
  height: 270px;
  position: relative;
  padding: 0 var(--spacing-4);
  margin: 0 var(--spacing-16);
}

.top-10-rank-slider .slider-item svg,
.top-10-rank-slider .slider-item a {
  grid-area: 1 / 1; /* 같은 그리드 영역에 배치 */
}


.top-10-rank-slider .slider-item svg {
  position: absolute;
  z-index: 1;
  width: 120px; /* 숫자를 크게 */
  height: auto;
  left: -30px; /* 왼쪽으로 더 많이 나오게 */
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.9; /* 살짝 투명하게 */
}


#rank-1 {
  width: 105px; /* 1등은 더 크게 */
}

#rank-10 {
  width: 160px; /* 10등은 더 작게 */
  left: -80px; 
  margin-left: 40px;
}

/* 이미지는 뒤쪽에 */
.top-10-rank-slider .slider-item img {
  position: absolute;
  z-index: 2;
  width: 170px; /* 이미지를 작게 */
  height: auto;
  object-fit: cover;
  right: 0; /* 오른쪽에 배치 */
  top: 50%;
  transform: translateY(-50%);
  box-shadow: var(--shadow);
}

/* footer part */

footer {
  display: contents;
  flex-direction: column;
  width: 100;
  align-items: center;
  position: absolute;
}

.social-links img {
  height: 72px;
  align-self: initial;
  align-items: center;
}

.social-links {
  display: flex;
  gap: var(--spacing-16);
  justify-content: baseline;
  margin-top: var(--spacing-32);
  margin-bottom: var(--spacing-16);
  transition: transform 0.3s ease;
}

.social-links a {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
/* 
.social-links a:hover {
  transform: scale(1.1);
} */

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing-16);
  margin-bottom: var(--spacing-24);
  transition: background-color 0.3s ease;
  :hover {
    color: grey;
  }
}

.footer-links .footer-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing-8);
}

.footer-copyright {
  color: var(--muted);
  font-size: var(--fonts-sm);
  margin-bottom: var(--spacing-32);
  text-align: center;
}